<div class="wrapper shoppingcart">
  <h1>Your cart {{user.username}}</h1>
  <ul>
    {{#each user.shoppingCart}}
      <li>
        <div class="shoppingCartProduct">
          <div class="leftElements">
            <img src={{this.imgUrl}} alt="" />
            <div class="shoppingCartProductTextContainer">
              <h2>{{this.name}}</h2>
              <span>{{this.price}}$</span>
            </div>
          </div>
          <form method="POST" action="/shop/{{this._id}}/remove">
            <button class="closeulb" type="delete">
              ×</button>
          </form>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="bottomCheckout">
    <h2 class="totalAmount">Total: {{totalAmount}}$</h2>
    <button class="button">Checkout</button>
  </div>
</div>