<div class="wrapper shoppingcart">
  <h1>Your cart {{this.username}}</h1>
  <ul>
    <li>
      <div class="shoppingCartProduct">
        <div class="leftElements">
          <img src="/images/bonsai/chinese-elm-1.png" alt="" />
          <div class="shoppingCartProductTextContainer">
            <h2>Chinese Elm</h2>
            <span>2000$</span>
          </div>
        </div>
        <span class="closeulb">×</span>
      </div>
    </li>
    {{#each this.shoppingCart}}

      <li>
        <div class="shoppingCartProduct">
          <div class="leftElements">
            <img src={{this.imgUrl}} alt="" />
            <div class="shoppingCartProductTextContainer">
              <h2>{{this.name}}</h2>
              <span>{{this.price}}$</span>
            </div>
          </div>
          <form method="POST" action="/shop/{{this._id}}/remove">
            <button class="closeulb" type="delete">
              ×</button>
          </form>
        </div>
      </li>
    {{/each}}
  </ul>
  <div class="bottomCheckout">
    <h2 class="totalAmount">Total: 6000$</h2>
    <button class="button">Checkout</button>
  </div>
</div>